/* Limit width of text input */
form.coding-test-ts-sum-form input.form-text {
	width: 7.5em;
}

/* Define color for ajax field validation */
form.coding-test-ts-sum-form input.form-text.invalid, form.coding-test-ts-sum-form input.form-text.error {
	background-color: #FFA100;
}

/* Define message area for ajax validation messages- default to error*/
#sumFormMessDiv {
	color: red;
	font-weight: bold;
	margin: 25px 5px 5px 25px;
}

/* Hits showing sum are in gray */
#sumFormMessDiv.hint {
	color: gray;
}